/* Estilos globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Importación de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para los iconos */
.icon {
  transition: transform 0.3s ease-in-out;
}

.icon:active {
  transform: scale(1.2);
}

/* Estilos para el card con efecto de vidrio */
.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}


